{% extends 'base.html' %}

{% block content %}
<a href="{% url 'projects_detail' project.id %}">
  <i class="material-icons">arrow_back</i>
</a>
<small class="right">Created by {{ task.created_by}} on {{ task.created_date}}</small>
<div class="task-container1">
  <h6 class="task_status right"> 
    <div class="status-wrapper">
      {% if task.status == "P" %}
        <div class="status yellow"></div>
        <span>In Process</span>
      {% elif task.status == "H" %}
        <div class="status red"></div>
        <span>On Hold</span>
      {% elif task.status == "C" %}
        <div class="status green"></div>
        <span>Completed</span>
      {% endif %}
    </div>
  </h6>
  <h1 class="">{{task.title}}</h1>
  <div class="attributes-container">
    <div class="attributes-wrapper">
      <div class="priority-wrapper">
        {% if task.priority == "H" %}
          <div class="priority1 red"></div>
          <div class="priority1 red"></div>
          <div class="priority1 red"></div>
        {% elif task.priority == "M" %}
          <div class="priority1 orange"></div>
          <div class="priority1 orange"></div>
        {% elif task.priority == "L" %}
          <div class="priority1 green"></div>
        {% endif %}
        </div>
    </div>
    <div class="attributes-wrapper">
      <i class="material-icons">folder</i>
      <p>{{ project.title}}</p>
    </div>
    <div class="attributes-wrapper">
      <i class="material-icons">person</i>
      <p>{{ task.assignee}}</p>
    </div>
    <div class="attributes-wrapper">
      <p>{{ task.due_date}}</p> 
    </div>
  </div>
  
  <br><br>
  </h6>
  <p class="grey-text">Description</p>
  <p >{{ task.description}} </p>
  
  {% if not cannot_edit_task %}
    <div class="button_row">
      <a href="{% url 'tasks_delete' task.id %}">
        <button type="button" class="button danger">Delete Task</button>
      </a>
      <a href="{% url 'tasks_update' task.id %}">
        <button type="button" class="button grey-btn">Update Task</button>
      </a>
    </div>
  {% endif %}
</div>
<hr>
<br>
<i class="material-icons">question_answer</i>
<h5 style="display: inline;">Comments</h5>
{% for comment in comments %}
<div class="card">
  <div class="card-content">
    <div class="right">
      <form action="{% url 'comments_delete' comment.id %}" method="POST">
        {% csrf_token %}
        {% if profile.is_manager %}
        <button type="submit" class="button royal"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
            fill="black" class="bi bi-trash" viewBox="0 0 16 16">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
            <path
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
          </svg></button>
        {% endif %}
      </form>
    </div>
    <small class="left"> {{comment.created_date}}</small>
    <div id="comment-avatar" class="container">
      <img width="5%" src="{{ comment.user.profile.image_url }}" alt="profile-image">
      <p>{{comment.user}}</p>
    </div>

    <div class="container">

      <h6>{{ comment.content }}</h6>
    </div>
  </div>
</div>
{% endfor %}
<div class="card">
  <div class="card-content">
    <form action="{% url 'add_comment' project.id task.id %}" method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <div class="button_row">
        <input type="submit" value="New Comment" class="button royal">
      </div>
    </form>
  </div>
</div>
<script>
  const dateEl = document.getElementById('id_due_date');
  // M is Materialize's global variable
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>

{% endblock %}