{% extends 'base.html' %}

{% block content %}
<h1>Task Details</h1>

<a href="{% url 'tasks_delete' task.id %}">
  <button type="button">Delete Task</button>
</a>
<a href="{% url 'tasks_update' task.id %}">
  <button type="button">Update Task</button>
</a>

<hr>

<h4>Title: {{ task.title }}</h4>
<p>Description: {{ task.description}}</p>
<p>Status: {{ task.status}}</p>
<p>Created by: {{ task.created_by}}</p>
<p>To: {{ task.owner}}</p>
<hr>
<h5>Comments</h5>
    {% for comment in comments %}
    <div class="card">
      <div class="card-content">
        <p>{{comment.user}}</p>
        <span class="card-title">
           {{ comment.content }}
        </span>
      </div>
      <div class="card-action">
        <form action="" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn red">-</button>
        </form>
      </div>
    </div>
    {% endfor %}
{% endblock %}