{% extends 'base.html' %}

{% block content %}
<h1>Tasks</h1>
<hr>
<table class="striped">
    <thead>
        <tr>
            <th>Priority</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Assigned To</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        {% for task in object_list %}
        <tr>
            <th>1</th>
            <td>
                <a href="{% url 'tasks_detail' task.id %}">
                    {{ task.title}}
                </a>
            </td>
            <th>{{task.status}}</th>
            <th>{{task.due_date}}</th>
            <th>{{task.assignee}}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'tasks_create' %}">
    <button type="button">Create Task</button>
</a>
{% endblock %}