{% extends 'base.html' %}

{% block content %}
<h1>About Task Manager</h1>

<p>Welcome to Task Manager, your go-to solution for managing tasks and staying organized.</p>
<br>
<h2>Our Mission</h2>
<p>Our mission is to simplify your life by helping you manage your tasks efficiently. We believe that a well-organized
    task management system can increase productivity and reduce stress.</p>
<h2>Features</h2>
<ul>
    <li>Create and manage tasks with ease.</li>
    <li>Set due dates and priorities for your tasks.</li>
    <li>Organize tasks into projects or categories.</li>
    <li>Collaborate with others by sharing tasks and projects.</li>
    <li>Receive reminders and notifications to stay on track.</li>
</ul>
<br>
<h2>Our Team</h2>
<br>
<p>We are a passionate team of developers dedicated to building the best task management app for you.</p>
<br><br>
<h2>Contact Us</h2>
<br>
<p>If you have any questions, feedback, or suggestions, please feel free to contact us:</p>
<ul>
    <li>💌 Email: <a href="mailto:contact@taskmanagerapp.com">contact@taskmanagerapp.com</a></li>
    <li>📞 Phone: <a href="tel:+5108675309">+1 (510) 867-5309</a></li>
</ul>

{% endblock %}