{% extends 'base.html' %}

{% block content %}
<h1>{{user.username}}'s Tasks</h1>
<hr>
<!-- <table class="striped"> -->
<table class="highlight cursor-pointer">
  <thead>
      <tr>
          <th>Priority</th>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Due Date</th>
      </tr>
  </thead>
  <tbody>
      {% for task in tasks %}
      <tr class="clickable-row" data-href="{% url 'tasks_detail' task.project.id task.id%}">
        <td>
          <div class="priority-wrapper">
            {% if task.priority == "H" %}
              <div class="priority1 red"></div>
              <div class="priority1 red"></div>
              <div class="priority1 red"></div>
            {% elif task.priority == "M" %}
              <div class="priority1 orange"></div>
              <div class="priority1 orange"></div>
            {% elif task.priority == "L" %}
              <div class="priority1 green"></div>
            {% endif %}
          </div>
        </td>
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td>
          <div class="status-wrapper">
            {% if task.status == "P" %}
              <div class="status yellow"></div>
              <span>In Process</span>
            {% elif task.status == "H" %}
                <div class="status red"></div>
                <span>On Hold</span>
            {% elif task.status == "C" %}
                <div class="status green"></div>
                <span>Completed</span>
            {% endif %}
          </div>
        </td>
        <td>
          {% if task.late %}
          <div class="red-text">{{task.due_date}}</div>
          {% else %}
          <div class="green-text">{{task.due_date}}</div>
          {% endif %}
        </td>

      </tr>
      {% endfor %}
  </tbody>
</table>
<script>
  // JavaScript to make table rows clickable
  document.addEventListener('DOMContentLoaded', function () {
    let rows = document.querySelectorAll('.clickable-row');
    rows.forEach(function (row) {
      row.addEventListener('click', function () {
        window.location.href = row.getAttribute('data-href');
      });
    });
  });

</script>

{% endblock%}            