
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* the best style for footer */
main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: left;
}


