
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* the best style for footer */
main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: left;
}

.page-footer a {
    font-size: 25px;
    
}
.small-text {
    font-size: 10px;
}

#comment-avatar{
    display: flex;
    align-items: center;
}
#comment-avatar > img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 5px;
}