body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font: 'Montserrat', sans-serif;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: left;
}

.page-footer a {
    font-size: 25px;
}

.small-text {
    font-size: 10px;
}

/* Alright buttons to right*/




/* buttons style */
.button {
    align-self: right;
    outline: none;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4), 0 6px 4px -2px rgba(0, 0, 0, 0.4), 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-6 {
    margin-left: 6px;
}

.action_button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 40px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4), 0 6px 4px -2px rgba(0, 0, 0, 0.4), 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.button_row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}

/* Custom Navy Blue */
.navy {
    background-color: #001F3F !important;
    color: white !important;
}

.navy:hover,
.navy:focus {
    background-color: #001225 !important;
}

/* Custom Royal Blue */
.royal {
    background-color: #4169E1 !important;
    color: white !important;
}

.royal:hover,
.royal:focus {
    background-color: #345bb0 !important;
}

/* Custom Black Button */
.black-btn {
    background-color: #000 !important;
    color: white !important;
}

.black-btn:hover,
.black-btn:focus {
    background-color: #515151 !important;
}

/* Danger Button (Red for illustrative purposes) */
.danger {
    background-color: #FF0000 !important;
    color: #FFF !important;
}

.danger:hover,
.danger:focus {
    background-color: #D80000 !important;
}

/* White Background Button */
.grey-btn {
    background-color: lightslategray;
    /* White color */
    color: #000;
    /* Black text color */
}

.grey-btn:hover {
    background-color: white;
    /* Slightly darker white/grey on hover */
}

.grey-btn:focus {
    outline: none;
}

/* status color styles */

.status-wrapper,
.task_status {
    display: flex;
    align-items: center;
}

.status {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.priority-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 35px;
    height: 20px;
    padding: 2px;
}



.priority1 {
    width: 20px;
    height: 3px;
    margin: 0.5px;
}


.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.status.brown {
    background-color: brown;
}

.task_status>span {
    margin-right: 6px;
}

.logo-img {
    height: 50px;
    width: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.left-brand-logo {
    display: block;
    padding: 0 0;
}

.logo-img {
    height: 40px;
    width: auto;
    transition: transform 0.3s ease;
}

.left-brand-logo:hover .logo-img {
    transform: scale(1.05);
}


body,
div,
h2,
h3,
p,
ul,
li,
a {

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body,
html {
    height: 100;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    color: #333;
    background-color: #F5F5F5;
    width: 100%;

}

.wrapper {
    flex: 1;
    display: flex;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 0 !important;
    width: 100%;
    margin: 0 !important;
}

.sidebar {
    background-color: rgb(1, 1, 34);
    /* height: 100vh; */
    width: 15%;
    min-width: 15%;
    min-height: 100vh;

    color: white;
    padding: 10px;
    overflow-y: auto;
    padding-top: 0;
    margin-top: 0
}

.sidebar-logo {
    margin-bottom: 20px;
    font-size: 1.5em;
}


.sidebar-logo-img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
}


.sidebar-nav {
    list-style-type: none;
    width: 100%;
}

.sidebar-nav li {
    margin: 10px 0;
    text-align: center;
    transition: background-color 0.2s;
}

.sidebar-nav li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-nav a {
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    font-size: 1.1em;
}

.content-container {
    flex: 1;
    padding: 1em;
    background-color: #F5F5F5;
    overflow: auto;

}

.details-section h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: navy;
}

.details-section p {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.page-footer {
    background-color: darkblue;
    text-align: center;
    font-size: 0.9em;
    height: 50px;
    margin: auto 0;
    /* width: 100%; */
    /* position: absolute;
    bottom: 0 */

}



.page-footer div {

    margin-top: 10px;
}

.page-footer a {
    color: navy;
    text-decoration: none;
    margin: 0 5px;
}

.page-footer a:hover {
    text-decoration: underline;
}

/* COMMENTS */
#comment-avatar {
    display: flex;
    align-items: center;
}

#comment-avatar>img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 5px;
}

/* table higlight color */
table.highlight>tbody>tr:hover {
    cursor: pointer;
    background-color: rgba(87, 79, 159, 0.173);
    /* whatever color you want */
}

table.highlight>tbody>tr {
    color: black
        /* whatever color you want */
}

svg {
    margin: 0px 12px 0px 12px
}

th {
    text-decoration: underline;
    font-size: 24px;
}
/* task detail page */
.attributes-container{
    display: flex;
}
.attributes-wrapper{
    display: flex;
    align-items: end;
    background-color: rgba(200, 200, 200, 0.4);
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

