
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* the best style for footer */
main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: left;
}

.page-footer a {
    font-size: 25px;
    
}
.small-text {
    font-size: 10px;
}

/* buttons style */
.button{
    outline: none;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

/* Custom Navy Blue */
.navy {
    background-color: #001F3F !important;
    color: white !important;
}
.navy:hover, .navy:focus {
    background-color: #001225 !important;
}
/* Custom Royal Blue */
.royal {
    background-color: #4169E1 !important;
    color: white !important;
}

.royal:hover, .royal:focus {
    background-color: #345bb0 !important;
}
/* Custom Black Button */
.black-btn {
    background-color: #000 !important;
    color: white !important;
}

.black-btn:hover, .black-btn:focus {
    background-color: #515151 !important;
}
/* Danger Button (Red for illustrative purposes) */
.danger {
    background-color: #FF0000 !important;
    color: #FFF !important;
}

.danger:hover, .danger:focus {
    background-color: #D80000 !important;
}

/* White Background Button */
.grey-btn {
    background-color: lightslategray; /* White color */
    color: #000; /* Black text color */
}

.grey-btn:hover {
    background-color: white; /* Slightly darker white/grey on hover */
}

.grey-btn:focus {
    outline: none;
}