{% extends 'base.html' %}

{% block content %}

    <h1>My profile</h1>
    <hr> 
    <div class="row">
        <div class="col s6">
            <img height="100" width="100" src="{{ profile.image_url }}" class="circle" alt="profile-image">
            <form action="{% url 'add_photo' profile.id %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <button type="submit" class="btn-small blue">Upload Photo</button>
            </form>
        </div>
        <div class="col s6">
            <h6>Username: {{ user.username }}</h6>
            <h6>Department: {{ user.profile.department }}</h6>
            <h6>Email: {{ user.email }}</h6>
            <h6>Joined: {{ user.date_joined }}</h6>
            <br>
            <div class="card-action">
                <a class="btn-small blue" href="{% url 'profile_update' user.profile.id %}">Edit</a>
            </div>
        </div>
    </div>

    
    
    
    
      
{% endblock %}