
{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Project: <span class="teal-text">{{project.title}}</span></h1>
{% if profile.is_manager %}
<div class="button_row">
  <a href="{% url 'projects_delete' project.id %}">
    <button type="button" class="button danger">Delete Project</button>
  </a>
  <a href="{% url 'projects_update' project.id %}">
    <button type="submit" class="button grey-btn">Update Project</button>
  </a>
</div>
{% endif %}

<hr>


<p>{{ project.description}}</p>
<hr>
<h5>Tasks</h5>
<!-- Modal Trigger -->
<div class="button_row">
  <a class="waves-effect waves-light btn-small blue modal-trigger button-royal" href="#modal1">New Task</a>
</div>
<table class="highlight">
  <thead>
    <tr>
      <th>Priority</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Assigned To</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}

    <tr class="clickable-row" data-href="{% url 'tasks_detail' project.id task.id %}">
      <td>
        <div class="priority-wrapper">
        {% if task.priority == "H" %}
        
          <div class="priority1 red"></div>
          <div class="priority1 red"></div>
          <div class="priority1 red"></div>
        
        {% elif task.priority == "M" %}
        
          <div class="priority1 orange"></div>
          <div class="priority1 orange"></div>

        {% elif task.priority == "L" %}
        
          <div class="priority1 green"></div>
        
        {% endif %}
      </div>
      </td>
      
      <td>{{task.title}}</td>
      <td>{{task.description}}</td>

      <td>{% if task.status == "P" %}
        <div class="status-wrapper">
          <div class="status yellow"></div>
          <span>In Process</span>
        </div>
        {% elif task.status == "H" %}
        <div class="status-wrapper">
          <div class="status red"></div>
          <span>On Hold</span>
        </div>
        {% elif task.status == "C" %}
        <div class="status-wrapper">
          <div class="status green"></div>
          <span>Completed</span>
        </div>
        {% endif %}
      </td>

      <td>{{task.assignee}}</td>
      <td>
        {% if task.late %}
        <div class="red-text">{{task.due_date}}</div>
        {% else %}
        <div class="green-text">{{task.due_date}}</div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>



<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">X</a>
    </div>
    <form action="{% url 'add_task' project.id %}" method="POST">
      {% csrf_token %}
      {{ task_form.as_p }}
      <input type="submit" value="Save" class="button navy">
    </form>
  </div>
</div>
<script>
  const dateEl = document.getElementById('id_due_date');
  // M is Materialize's global variable
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  // JavaScript to make table rows clickable
  document.addEventListener('DOMContentLoaded', function () {
    let rows = document.querySelectorAll('.clickable-row');
    rows.forEach(function (row) {
      row.addEventListener('click', function () {
        window.location.href = row.getAttribute('data-href');
      });
    });
  });
</script>

{% endblock %}