{% extends 'base.html' %}

{% block content %}
<h1 class="project">Projects</h1>
<hr>
<table class="highlight cursor-pointer">
    <thead>
        <tr>
            <th>Title</th>
            <th>Status</th>
            <th>Due Date</th>
            <th>Project Schedule</th>
        </tr>
    </thead>
    <tbody>
        {% for project in object_list %}
        <tr class="clickable-row" data-href="{% url 'projects_detail' project.id %}">
            <td>{{project.title}}</td>
            <td>{% if project.status == "P" %}
                In Process
                {% elif project.status == "H" %}
                On Hold
                {% elif project.status == "C" %}
                Completed
                {% endif %}
            </td>

            <td>{{project.due_date}}</td>
            {% if project.late %}
            <td class="red-text">Late</td>
            {% else %}
            <td class="green-text">On Time</td>
            {% endif %}
            <td><a href="{% url 'projects_delete' project.id %}">
                    <button type="button">Delete Project</button>
                </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'projects_create' %}">
    <button type="button">Create Project</button>
</a>

<script>
    // JavaScript to make table rows clickable
    document.addEventListener('DOMContentLoaded', function () {
        let rows = document.querySelectorAll('.clickable-row');
        rows.forEach(function (row) {
            row.addEventListener('click', function () {
                window.location.href = row.getAttribute('data-href');
            });
        });
    });
</script>
{% endblock %}